*{
  margin:0px;
  font-family: 'avenir', sans-serif;
  font-size: 16px;
  font-weight:500;
  overflow-x: hidden;
}
::-moz-selection { /* Code for Firefox */
    background: #e5e5e5;
}

::selection {
    background: #e5e5e5;
}
body{
  background-color: #f9f9f9;
}
.about_main{
  margin-bottom: 70px;
  margin-left: 5%;
  display: flex;
  margin-top: 50px;
}
.about_social{
  margin-top: 30px;
  /*margin-bottom: 20px;*/
}
.about_copy{
  width: 480px;
}
.about_copy p{
  font-size: 16px;
  font-weight: 400;
  color: black;
  line-height: 1.7;
}
.about_h1{
  font-size: 48px;
  font-weight: bold;
  color: rgb(187, 187, 187);
  margin-left: -4px;
  margin-top: 50px;
  margin-bottom: 50px;

  z-index: -10;
}
.about_img{
  width: 90%;
  height: 500px;
  background-color: rgb(177, 177, 177);
  margin-left: 0;
  margin-bottom: 150px;
  background-image: url(../assets/profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.about_col2, .about_col3{
  margin-left: 50px;
}
.about_col2 h3{
  text-decoration: underline;
}
.about_col2 a{
  text-decoration: none;
}
.about_col2 p{
  color: black;
  line-height: 1.7;
}

#cv_link{
  font-size: 16px;
  font-weight: 200;
  text-decoration: underline;
}

#intro-text{
  text-align: center;
  margin-top: 0;
}
body {
    padding-top: 60px;
    overflow-y: hidden;
    overflow-x: hidden;
}
header {
    background: transparent;
    height: 60px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 200000;
}

/*#top_btn{
  display:none;
}*/
.landing{
  background-color: #128342;
}

/*.landing-banner{
  background-color: #491AD9;
  background-image: url('../work/synthesis/brochure_img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
}*/

.content{
  background-color: #a4c2f4;
}

.title h1{
  font-size: 39px;
  padding-top: 100px;
  display: inline;
  float: left;
  color: #aaaaaa;
}

/*media query starts here*/
[class*="col-"] {
    width: 100%;
}
@media only screen and (max-width: 420px) {
  /*ul{
    display: none;
  }
  #top_btn{
    display: block;
    color: black;
  -webkit-transition: ease .3s;

    transition: ease .3s;
  }
  #top_btn:hover{
    color: #707070;
  }*/
  .about_copy{
    width: 300px;
  }
  .about_landing{
  width: 80%;
  }
  .about_main{
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 980px) {
  .about_main{
    margin-bottom: 70px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
  }
  .about_col2{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .about_col2, .about_col3{
    margin-left: 50%;
  }
}

@media only screen and (max-width: 520px) {
  /*ul{
    display: none;
  }
  #top_btn{
    display: block;
    color: black;
  -webkit-transition: ease .3s;

    transition: ease .3s;
  }
  #top_btn:hover{
    color: #707070;
  }*/
  .about_landing{
    width: 100%;
  }
  .about_copy{
    width: 300px;
  }
  .about_social{
    visibility: hidden;
  }
  .about_col2, .about_col3{
    margin-left: 25%;
  }
}
@media only screen and (max-width: 850px) {
.footer_copyrights{
  justify-content: center;
}
.work-name{
  font-size: 16px;
}
.work-name p{
  font-size: 14px;
}
.work_wrapper{
  display: block;
}

.each_work_entire{
  width:100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
