body{
  /*background-color: #f9f9f9;*/
}
body .hidden{
  display: none;
}
.regular_link{
  font-size: 16px;
  font-weight: 300;
}
.parallax-window {
    min-height:80vh;
    background: transparent;
}
.flex_wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.flex_div{
  width: 100%;
  margin-top: -7px;
}
.landing_title{
  width: 100%;
  flex-direction: column;
  align-content: space-between;
  background-position: top;
}
.work_main_wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.body_text_container{
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.work_last{
  margin-bottom: 100px;
}
.company_title{
  font-size: 24px;
  color: black;
  font-weight: bold;
  text-decoration: underline;

  -webkit- transition: ease .3s;
  transition: ease .3s;
}
.company_title:hover{
  color: darkgray;
}

.project_text_container{
margin-top: 50px;
display: block;
align-items: center;
padding-left: 8%;
padding-right: 8%;
}
.project_title{
  font-size: 18px;
  color: black;
  margin-top: 20px;
  font-weight: bold;
}
.project_description{
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #5b5b5b;
  width: 200px;
  line-height: 26px;
}

.body_notification{
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 18px;
  font-style: italic;
  color: #707070;
  font-weight: 300;
}

.bodycopy_title{
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  width: 450px;
  margin-bottom: 10px;
}

.bodycopy{
  font-size: 16px;
  font-weight: 200;
  text-align: left;
  width: 500px;
  line-height: 26px;
}

.caption{
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 450px;
  color: rgb(83, 83, 83);
  line-height: 26px;
}
.italic{
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subhead{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;

}


/*media query starts here*/
[class*="col-"] {
    width: 100%;
}
@media only screen and (max-width: 400px) {

  .project_text_container{
  display: block;
  align-items: center;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  }
  .project_title{
    font-size: 18px;
  }
  .project_description{
    font-size: 16px;
    color: #5b5b5b;
  }
  .company_title{
    font-size: 18px;
  }
  .project_text_container{
  padding-bottom: 30px;
  }

  .body_notification{
    font-size: 16px;
  }
}
@media only screen and (max-width: 870px) {
  .body_text_container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer_text{
    display: block;
  }
}
@media only screen and (max-width: 550px) {
  .bodycopy{
    width: 300px;
  }
  .caption{
    width: 300px;
  }
  .bodycopy_title{
    width: 300px;
  }
  .photo_container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .work_img{
    width: 100%;
  }
  #work_main_wrapper{
    display: flex;
    justify-content: center;
  }
  .work_img_hidden{
    display: none;
  }
}
@media only screen and (min-width: 850px) {
  .photo_container{
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
