body{
  background-color: #f5f5f5;
}
body .hidden{
  display: none;
}
header{
  background-color: #00B7D2;
}

.topnav{
  background-color: #00B7D2;
}
a{
  text-decoration: none;
  color: #e9e9e9;
  transition: ease, .2s;
}
a:hover {
color: #ffffff;
}
a:active {
color: #ffffff;
}
.logo_name{
  font-size: 20px;
  font-weight: bold;
  font-family: "Georgia", serif;
}

/*.logo_wh{
  width: 50px;
  height: 23px;
  background-image: url(../assets/logo/logo_wh.png);
  background-repeat: no-repeat;
  background-size: cover;

  transition: ease .3s;
}
.logo_wh:hover{
  background-image: url(../assets/logo/logo_wh_hover.png);
  background-repeat: no-repeat;
  background-size: cover;
}*/

.clincase_landing_img{
  background-image: url("../work/clincase/landing_photo.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.landing_title{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: #00B7D2;
  background-position: top;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.body_text_container{
  margin-left: 5%;
  margin-right: 5%;
}

.company_title{
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-decoration: underline;

  -webkit- transition: ease .3s;
  transition: ease .3s;
}
.company_title:hover{
  color: #e9e9e9;
}

.project_text_container{
display: block;
align-items: center;
padding-top: 50px;
padding-bottom: 50px;
}
.project_title{
  font-size: 24px;
  color: white;
}
.project_description{
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: white;
}

.body_text_container{
  padding: 50px 20%;
  text-align: center;
}

.body_notification{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 18px;
  font-style: italic;
  color: #00B7D2;
  font-weight: 300;
}

.bodycopy_title{
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  width: 70%;
  margin-bottom: 10px;
}
.body_line_container{
  display: flex;
  width: 100%;
  /*justify-content: center;*/
}
.bodycopy_line{
  /*margin-top: 20px;*/
  margin-bottom: 10px;
  width: 50px;
  height: 5px;
  background-color: #00B7D2;
}
.bodycopy{
  font-size: 16px;
  font-weight: 200;
  text-align: left;
  width: 70%;
  line-height: 26px;
}

.photo_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.hideme{
  margin-bottom: 20px;
  /*box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, .1);*/
  border-radius: 2px;
  opacity:0;
}

footer{
  background-color: transparent;
}
.footer_line{
background-color: #00B7D2;
}
